@{
    Layout = null;
}
@model HomeSet.Domain.ListaPaginada<HomeSet.Domain.Dto.EventoDto>
@*<form asp-controller="Evento" asp-action="Alta" method="post">
        Descripcion: <input asp-for="Descripcion" /><br />
        <button class="btn btn-primary" type="submit">Guardar</button>

    </form>*@
<div style="height:50%">
    <table class="table table-sm table-responsive-sm table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                @*<th><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayName("Descripcion")</a></th>*@
                <th>Descripción</th>
                <th>Categoria</th>
                <th>Sub-Categoría</th>
                <th>Fecha</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoriaDescripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategoriaDescripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td align="center">
                        <a data-toggle="modal" data-target="#modal-editar" data-href=@Url.Action("Modificar","Evento",new {id = @item.Id}) data-titulo="Modificar Evento"><octicon symbol="Pencil"></octicon></a>
                    </td>
                    <td align="center">
                        <a asp-action="Eliminar" asp-route-id="@item.Id"><octicon symbol="Trashcan"></octicon></a>
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.FirstMidName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EnrollmentDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
<nav class="" aria-label="Page navigation">
    <ul class="pagination">
        @{
            for (int i = 1; i <= Model.PaginasTotales; i++)
            {
                <li class="page-item"><a class="page-link paginador" asp-controller="Evento" asp-action="Listar" asp-route-filtro="" asp-route-pagina="@i" 
              data-ajax="true"
              data-ajax-method="GET"
              data-ajax-mode="replace"
              data-ajax-update="#gridTabla">@i</a></li>
            }
        }
    </ul>
    </nav>